<!DOCTYPE HTML>
<html>
    <head>
        <title>Simon's Nodjo Demo</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8"/>
        <script src="/config.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.8.0/dojo/dojo.js"></script>
    </head>
    <body>
        <h1>Hello</h1>
    </body>
</html>

