<!DOCTYPE HTML>
<html>
    <head>
        <title>Nodjo</title>
        <script src="/dojoconfig.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.8.0/dojo/dojo.js"></script>
    </head>
    <body>
        <h1>Hello World</h1>
        <script type="text/javascript" language="javascript" charset="utf-8">
            require(['app/main', 'dojo/domReady!'], function (app) {
                app.start();
            });
        </script>

    </body>
</html>

