<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>Specrunner</title>
        <style type="text/css" media="screen">
            body{
                font-family: "Helvetica", "Arial", "sans-serif";
                background-color: #bbb;
            }

            body.passed{
                background-color: green;
            }

            body.failed{
                background-color: red;
            }
        </style>
        <script type="text/javascript" language="javascript" charset="utf-8">
            dojoConfig = {
                async: false,
                paths: {
                    "specs": "../../specs",
                    "linton": "../../linton"
                }
            };
        </script>
        <script src="client/dojo/dojo.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1>Limanade Spec Runner</h1>
        <script type="text/javascript" language="javascript" charset="utf-8">
            require(['dojo/_base/xhr', 'limanade/main', 'dojo/domReady!'], function (xhr, limanade) {
                limanade.execute({
                    specs: <%=specs%>
                }, function () {
                    console.log("Done");
                });
            });
        </script>
    </body>
</html>
